/* root vars loaded from YAML theme
:root	{
	--regular-background	: #ffffe0;
	--regular-foreground	: rgb(78, 77, 77);
	--hilite-background		: yellow;
	--hilite-foreground		: black;
	--link-color			: darkblue;
	--link-hilite-back		: orange;
	--link-hilite-fore		: black;
	--button-background		: lightgray;
	--button-foreground		: black;
	--disabled-background	: lightgray;
	--disabled-foreground	: darkgray;
	--cell-background		: #f8f8d6;
	--cell-border-color		: lightgray; 
	--pagelinks-background 	: rgb(241, 239, 239);
	--edit-background		: #f8f8d6;
	--edit-foreground		: navy;
	--error-background      : red;
	--error-foreground      : white;

}
*/
body	{
	background-color		: var(--regular-background);
	color					: var(--regular-foreground);
	font-family				: Verdana, Arial, Helvetica, sans-serif; 
	font-size				: 16px;
	padding					: 0 1em 0 1em;
	max-width          		: 100vw;
}
#errormsgdiv 	{
	padding					: .5em;
}
a	{ 
	text-decoration			: none;  
	color					: var(--link-color); 
	font-family				: monospace; 
	font-size				: 1.2em;
	padding					: 0 .1em 0 .1em; 
}
a:visited	{ 
	color					: var(--link-color); 
}
a:hover	{ 
	text-transform			: uppercase; 
	font-weight				: bold;
	color					: var(--link-hilite-fore);
	background-color		: var(--link-hilite-back);
}
address	{ 
	font-size				: 8pt; 
}

td	{ 
	background				: var(--cell-background);
	font-weight				: bold; 
	padding					: 4px;
	text-align				: left; 
	border-top				: var(--cell-border-color) solid 3px;
}
li	{ 
	list-style-type			: none; 
}

em	{ 
	font-style				: italic; 
}

th	{ 
	text-align				: left; 
	padding					: 2px;
}

h1	{ 
	text-align				: center; 
	text-transform			: uppercase; 
	text-shadow				: -3px 3px 3px rgba(26, 205, 214, 1);
}

input[type="button"],
input[type="submit"]	{ 
	background-color		: var(--button-background); 
	color					: var(--button-foreground);
	font-size				: 1.1em;
}

input[type="button"]:disabled,
input[type="submit"]:disabled	{
	background-color		: var(--disabled-background);
	color					: var(--disabled-foreground);
}

::placeholder	{ 
	text-transform			:lowercase; 
}

.numdocs,
.numboxes	{ 
	text-align				: center; 
}

.keydata	{ 
	font-weight				: bold; 
	text-transform			: uppercase; 
}

.hide	{ 
	display					: none; 
}
.vdata	{ 
	text-align				: center; 
}
.vlabel	{ 
	text-align				: right; 
	padding-right			: 0.5em; 
}
.keyinput	{ 
	text-transform			: uppercase; 
}

.boxfunctionspanel	{ 
	display					: table; 
	margin					: 0 auto 0 auto;
}

.searchresults,
.locationlist,
.ownerlist,
.ownerfiles,
.boxheader,
.boxlist,
.boxfiles	{ 
	margin-left				: auto; 
	margin-right			: auto;  
}

.termstable dt	{ 
	font-weight				: bold; 
	padding-bottom			: 5px; 
}
.termstable dd	{ 
	margin-bottom			: .5em; 
}
.termstable em	{ 
	font-weight				: bolder; 
}

.lookuplink	{ 
	cursor					: zoom-in; 
}
.sortlink	{ 
	cursor					: n-resize; 
}

.pagelinks	{ 
	margin					: 6px 0 6px 0; 
	background-color		: var(--pagelinks-background);
}

#pagelinks	{ 
	display					: table;
	margin					: 0 auto;
}

.pagelink	{
	font-size				: 1.2em;
}

.pagelink a	{
	font-size 				: 1.0em;
	padding 				: 0 5px 0 5px;
}

.pagelink a::after 	{
	content 				: ']';
}

.pagelink a::before	{
	content 				: '[';
}

.errormsg	{
	background-color 		: var(--error-background);
	color 					: var(--error-foreground);
	display 				: block;
}

.filteritems	{ 
	height					: 100%; 
	min-width				: 10em;
	overflow-y				: scroll; 
	float					: left; 
	font-family				: 'Courier New', Courier, monospace;
	margin-right			: 1.5em;
}

#locationfilter	{ 
	max-width				: 50em; 
	float					: left; 
}
#ownerfilter	{ 
	max-width				: 50em; 
	float: left; 
}
#datesfilter	{ 
	max-width				: 50em; 
	float: left; 
}
.year 	{
	width 					: 5em;
}

				
.btn	{
	-webkit-border-radius	: 5;
	-moz-border-radius		: 5;
	border-radius			: 5px;
	color					: var(--button-foreground);
	font-size				: 20px;
	background				: var(--button-background);
	padding					: 10px 20px 10px 20px;
	text-decoration			: none;
  }
  
  .btn:hover	{
	background				: var(--link-hilite-back);
	color					: var(--link-hilite-fore);
	text-decoration			: none;
	text-transform			: none;
  }
  
 
.nude	{
	border					: none;
	background				: inherit;
}

.center	{ 
	text-align				: center; 
}
.left	{ 
	text-align				: left; 
}
.right	{ 
	text-align				: right; 
}


[contenteditable="true"]	{ 
	cursor					: text; 
	background-color		: var(--edit-background); 
	color					: var(--edit-foreground); 
	font-style				: italic;
	font-weight				: normal;
}

.copyrite	{ 
	font-size				: small; 
}
.infohilite	{ 
	background-color		: var(--hilite-background); 
	color					: var(--hilite-foreground); 
	font-weight				: bold; 
	padding-top				: 4px; 
	padding-bottom			: 4px; 
}
.warning	{ 
	background-color		: var(--hilite-background); 
	color					: var(--hilite-foreground); 
	display 				: block;
}
.searchedfor	{ 
	background-color		: var(--hilite-background); 
	color					: var(--hilite-foreground); 
	font-weight				: bold;
	font-size				: larger;
	padding					: 4px;
	margin-right			: .5em;
}
.number	{ 
	text-align				: right; 
}
.upper	{ 
	text-transform			: uppercase; 
}
.lower	{ 
	text-transform			: lowercase; 
}

.arrow	{ 
	font-size				: large; 
}
.topmenu	{
	display					: block;
	border-bottom			: solid;
	padding-bottom			: 3px;
	margin-bottom			: 3px;
	width					: 100%;
}

.topmenu .menulinks	{
	display					: table;
	margin					: 0 auto;
}

.topmenu a:not(.currentlink)::before	{
	content					: "[";
}
.topmenu a:not(.currentlink)::after	{
	content					: "]";
}
.currentlink	{ 
	text-transform			: uppercase; 
	font-weight				: bold;  
	font-size				: 1.3em;
}

.themepick 	{
	height 					: 100%;
	vertical-align			: middle;
	cursor					: pointer;
	display 				: inline-flex;
	align-items 			: center;
}
.themepick select {
	font-size				: 8pt;	
	background-image 		: linear-gradient(to right, yellow , red);
}